<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Compras</title>
	</head>
	<body>
		<h1>Todos os clientes</h1>

		{%if clientes_list %}
			<ul>
				{% for cliente in clientes_list%}
					<a href="{% url 'cliente_editar' cliente.id %}">{{cliente.id}} | {{ cliente.nome }} | {{ cliente.contato}} </a><br>
				{% endfor %}
			</ul>
		{% else %}
			<p>Sem clientes!</p>
		{%endif%}

		<a href="{% url 'clientes_novo' %}">Novo Clientes</a>
		<a href="{% url 'index' %}">Inicio</a>

	</body>
</html>