<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Compras</title>
	</head>
	<body>
		<h1>Novo Cliente</h1>

		<form action="{% url 'clientes_salvar' %}" method="post">
			{%csrf_token%}

			<input id="id" type="hidden" name="id" value="{{cliente.id}}">

			<input id="id_nome" type="text" name="nome" placeholder="Nome *" value="{{cliente.nome}}" required autofocus>

			<input id="id_contato" type="text" name="contato" placeholder="Contato *" value="{{cliente.contato}}">

			<button type="submit">Salvar</button>
			<a href="{% url 'clientes' %}">Voltar</a>
		</form>
	</body>
</html>